<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.hola.cdn_sdk">
  <uses-permission android:name="android.permission.INTERNET">
  </uses-permission>
  <application android:allowBackup="true" android:label="@string/app_name"
    android:supportsRtl="true">
    <service android:name="org.hola.cdn_sdk.service" android:enabled="true">
    </service>
  </application>
</manifest>
